@import '../../../styles/variables.scss';

.chat-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 0;
  min-height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.username-wrapper {
  position: relative;
  display: inline-block;

  .username {
    color: $accent-color;
    font-weight: bold;
  }
}

.message {
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  max-width: 80%; /* Limite la largeur du message */
  word-wrap: break-word; /* Casse les longs mots */

  &.self {
    background-color: $primary-button-color; /* Vert clair */
    color: black;
    margin-left: auto; /* Alignement à droite */
    text-align: right;
    .username-wrapper{
      .username {
        color: $background-color;
      }
    }
  }

  &.user {
    background-color: $button-color; /* Jaune clair */
    color: black;
    margin-right: auto; /* Alignement à gauche */
    text-align: left;
  }

  &.server {
    background-color: $light-accent-color; /* Bleu clair */
    width: 100%;
    max-width: 100%;
    color: #fff;
    text-align: center;
    font-style: italic;
  }

  &.error {
    background-color: $accent-color; /* Vert clair */
    width: 100%;
    max-width: 100%;
    color: #070707;
    text-align: center;
    font-style: italic;
  }
}

.chat-input {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.chat-input button {
  padding: 5px 10px;
  border: none;
  background-color: $accent-color;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: $accent-color;
}


.chat-header {
  background-color: $accent-color;
  color: #fff;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  text-align: center;
}